<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/style.css">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="author" content="Your name">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Your name professional website">
  <title>William Liu - For fun</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
  <header >
        <h1 id="webname">William Liu </h1>
        <nav>
          <i class="fas fa-bars" id="hamburger"></i>
          <ul>
            <li><a href="template.html">Template</a></li>
            <li><a href="../index.html">Dashboard</a></li>
            <li><a href="cv.html" >Profile</a></li>
            <li><a href="contact.html" >Get in Touch</a></li>
            <li><a href="fun.html" >Extras</a></li>
          </ul>
        </nav>
    </header>
  
  <div class="mainLayout">
    <!-- child 1 -->
    <div id="item1"></div>
    <h2>Things I love to do for fun</h2>
    <!--<ul id="funList" > -->
    <ul title="list">
      <li>Playing Music</li>
      <li>Traveling</li>
      <li>Photography</li>
    </ul>
    <!--<button id="showListBtn" onclick="showList()">Click to see...</button> -->
    <div id="item2">
      <img src="../static/myfunimage.png" alt="Fun Image" class="funIMG">
    </div>

    <div id="item3">
      <iframe width="400" height="200" src="https://www.youtube.com/embed/G8Rxbg9Ol_8?si=qTjvm6tvc9kZXUNT" 
      title="YouTube video player" frameborder="0" 
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
      referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
      
    </iframe>
    </div>

    <div id="item4">
      <div class="container">
        <h2>Need Some Advice?</h2>
        <p id="adviceText">Click the button to get a random piece of advice!</p>
        <button onclick="getAdvice()">Get Advice</button>
      </div>

    </div>
    
  </div>
  <footer> 
    <p id="copyYear">&copy; William Liu. All rights reserved.</p>
  </footer>
</body>
</html>
