<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="author" content="Your name">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Your name professional website">
  <title>William Liu - For fun</title>
</head>
<body style="font-family: Arial">
  <header style="color:blue; background:lightblue">
        <h1>William Liu</h1>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="views/cv.html">CV</a></li>
                <li><a href="views/contact.html">Contact Me</a></li>
                <li><a href="views/fun.html">For Fun</a></li>





            </ul>
        </nav>
    </header>
  <div class="main">
    <h2>Things I love to do for fun</h2>
    <!-- List of your favorite activities -->
    <ul>
      <li>Playing Music</li>
      <li>Traveling</li>
      <li>Photography</li>
    </ul>
  </div>
  <footer>
    <p>&copy; 2025 William Liu.</p>
  </footer>
</body>
</html>
