<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="../static/style.css">


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <meta charset="UTF-8">
  <meta name="author" content="Your name">
  <meta name="keywords" content="Carnegie Mellon University, Information Systems">
  <meta name="description" content="Your name professional website">
  <title>William Liu - For fun</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" ></script>
  <script src="../static/script.js" defer></script>
</head>
<body onload="addYear()">
  <header >
        <h1 id="webname">William Liu </h1>
        <nav>
          <ul>
            <li><a href="../index.html">Dashboard</a></li>
            <li><a href="cv.html" >Profile</a></li>
            <li><a href="contact.html" >Get in Touch</a></li>
            <li><a href="fun.html" >Extras</a></li>
          </ul>
        </nav>
    </header>
  <div class="main">
    <h2>Things I love to do for fun</h2>

    <button id="showListBtn" onclick="showList()">Click to see...</button>

    <ul id="funList" >
      <li>Playing Music</li>
      <li>Traveling</li>
      <li>Photography</li>
    </ul>
  </div>
  <footer> 
    <p id="copyYear">&copy; William Liu. All rights reserved.</p>
  </footer>
</body>
</html>
